@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
:root {
    --main-bg-color: purple;
    --font1:'Baloo 2', cursive;
    --font2:'Robot',sans-serif;
  }
  
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;

}
.m-auto{
    margin: auto;

}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.btn{
    padding: 1px 7px;
    /* margin: 0px 9px; */
    font-size: 16px;
    border:2px solid black;
    border-radius: 4px;
    font-family: var(--font2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    /* background-color: var(--main-bg-color); */
    font-weight: bold;

}
.form-input{
    
        padding: 3px 7px;
        border:2px solid black;
        border-radius: 4px;
        margin: 2px;
        margin-right: 9px;
}

.form-box input, textarea{
    margin: 15px,0px;
    padding: 15px,2px;
    width: 35vw;
    border: 1px solid black;
    border-radius: 5px;

}